<!DOCTYPE html>
<html>
<head>
	<title>Curaksha Task</title>

<!-- bootstrap -->
	<link rel="stylesheet" href="css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" href= "css/index.css">
  
 <!-- fontawesome icons -->
  <link rel="stylesheet" type="text/css" href="fontawesome/css/all.min.css">


  <!--font electrolize-->
  <link href="https://fonts.googleapis.com/css?family=Electrolize&display=swap" rel="stylesheet">
    <!-- font: Monoton,Tinos,AL Messiri-->
  <link href="https://fonts.googleapis.com/css?family=El+Messiri|Monoton|Tinos&display=swap" rel="stylesheet"> 
    <!-- font: Cursive-->
  <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet"> 

 
 <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
 <script type="text/javascript" src="js/bootstrap.min.js"></script>


</head>
<body>
<div id="main">
	