


<%- include('header'); -%>

<nav class="navbar navbar-expand-lg ">
  <a class="navbar-brand" href="/"> <img src="images/C.png">Curaksha</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-link" href="/register">Register</a>
      <a class="nav-link" href="/login">Login</a>
    </div>
  </div>
</nav>


  <div>
    <h1>Welcome!!</h1>
    <p> This is the home page. On this website, you can register yourself and then login to get verified as the registered user. On successful verification, you will see the acknowledgemrnt page. <br>So go ahead and try it our !!! </p>

    <p>If you have already regitered, then go ahead and login. </p>
  
  <%- include('footer'); -%>

	