<%- include('header'); -%>


<div class="jumbotron-fluid">
	<h2> Hey, your login was successfull !! </h2>
	<h3>Your now authenticated and you are now the registered user</h3>
	<p> Here are your credential details</p>
	<p id="cre" ><%=username%></p>
	<p id="cre"><%=password%></p>
</div>

 <%- include('footer'); -%>